# TODO: implement in Phase 1
DATABASE_URL=sqlite:///./sql_app.db
OLLAMA_BASE_URL=http://localhost:11434
SENTINEL_HUB_CLIENT_ID=561f1e72-c81f-48a9-a20a-2c6c7e527240
SENTINEL_HUB_CLIENT_SECRET=PLAKfcc87a676fb642e9b5dcfd86eb0537a4
